<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I am embarking on a new career path as a web developer. It was a path I did not expect to take. The first time I wrote code was more like a dare to myself, to see if I could do it. Then I discovered the awe of creating something out of nothing. It still amazes me to witness an application as an entity that interacts with people in real space and time. It's almost as if it has life on its own, and it all began with a blank screen.
        </p>
        <p>
           I love creative problem-solving.
           As a beginner, I make plenty of problems for myself to solve, but each time I'm debugging lines of code, I feel like I'm learning valuable lessons. Each a gift. As my skills develop with experience, I'm taking on pride as I build tools for others to use, making their lives easier. I have found myself wanting to build web applications with the ambition of becoming fully versed in front-end and back-end web development.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Recent Activity</h3>
		    <ul>
    			<li>
            Completed the University of Arkansas IT Readiness Program: Back-End Development in March 2020
          </li>
          <br>
          <li>
            Deployed my IT Readiness Capstone Project, <a href="https://secret-island-30549.herokuapp.com">Team Expense.</a>
          </li>
          <br>
          <li>
            Continuing to work on Team Expense application in pursuit of making it into a solid product. <a href="https://github.com/dricketts0/capstone-dricketts0">Check out the progress!</a>
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
