<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Video Games</b>. A lifetime console gamer who hasn't joined the master race yet. Maybe one day I will build a video game and cross that off my bucket list!
			  </li>
			  <li>
				  <b>Music Composition & Performance</b>. A pure hobby that I dabble in occasionally. I did have a period in my life where I performed in Renaissance Faires as a musician and dancer. I specialized in Middle Eastern music and performed with a belly dance company. 
			  </li>
			  <li>
				  <b>Dance</b>. Especially, belly dancing. I also have performed hip hop and contemporary. I tend to drift towards urban and alternative styles of dance expression. It's great exercise and always put a smile on my face.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Current Pursuits</h3>
		  <ul>
  			<li>
              Refining and Developing the skills I acquired through the U of A, IT Readiness program. I'm first focusing on JavaScript. I'm reviewing the back-end application of the language, but I'm also pursuing on mastering JavaScript on the front-end as well. 
    		</li>
  			<li>
              Learning React.js and Redux
  			</li>
  		    </ul>
  		    <h3>Other Goals</h3>
  		    <ul>
  			<li>
              Learn more about User Experience Design
  			</li>
  			<li>
  			  Learn C# and build that video game!
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
